body {
  font-family: 'Times New Roman', Times, serif;
}

#gradient-effect {
  position: absolute;
  left: 0px;
  top: 30px;
  width: 100%;
  height: 500px;
  background-image: linear-gradient(rgb(197, 197, 197), white);
  z-index: -1;
}

.navbar {
  background-image: url(../images/virus-banner.jpg);
  background-size: 100% 700%;
}

.nav-link {
  color: yellow;
  border: 0px solid;
  border-radius: 8px;
  background-color: rgb(82, 82, 82);
}

.nav-link:hover {
  background-color: rgb(92, 92, 92);
}

#project-title {
  color: white;
  font-size: 32px;
  font-weight: 700;
  margin: 0 auto;
  position: absolute;
  right: 58%;
  left: 43%;
  width: 240px;
}

.login_register h1 {
  font-size: 32px;
  padding: 10px 0 10px 0;
  text-align: center;
  color: rgb(39, 39, 39);
}

.login_register {
  width: 400px;
  margin-top: 60px;
  margin: 0 auto;
}

.login_register input[type="submit"] {
  width: 100%;
  padding: 20px;
  border: 1;
  background-color: limegreen;
  border-color: yellow;
  color: yellow;
  cursor: pointer;
  box-sizing: border-box;
}

.login_register input[type="password"],
.login_register input[type="text"] {
  padding: 20px;
  width: 100%;
  margin-bottom: 20px;
  border: 1px solid limegreen;
  box-sizing: border-box;
}

.login_register input[type="submit"]:hover {
  background-color: rgb(40, 170, 40);
  
}
