<!DOCTYPE html>
<html>

<head>
    <title>Project Outbreak | About</title>

    <!-- adding jquery, and open-source css styels for animation and more functionality-->
    <script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="
        crossorigin="anonymous"></script>
    <link href='https://css.gg/push-chevron-up.css' rel='stylesheet'>
    <link href='https://css.gg/arrow-right-o.css' rel='stylesheet'>
    <meta name="viewport" contents="width=device-width">
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,900&display=swap" rel="stylesheet" />
    <!-- Inherits some styles from the homepage -->
    <link href="../css/aboutStyle.css" rel="stylesheet">
</head>

<body>
    <header>
        <a href="homepage" class="site-logo" aria-label="homepage">Project Outbreak</a>
        <nav class="main-nav">
            <ul class="nav__list">
                <li class="nav__list-item">
                    <a href="Simulation" class="nav__link">Simulation</a>
                </li>
                <li class="nav__list-item">
                    <a href="about.html" class="nav__link">About</a>
                </li>
                <li class="nav__list-item">
                    <a href="https://www.givedirectly.org/covid-19/us/" target="_blank" class="nav__link">COVID Relief
                        Fund</a>
                </li>
            </ul>
        </nav>
    
        <nav class="account">
            <ul class="nav__list">
                <li>
                    <div id="welcome-message">Welcome, ?</div>
                </li>
                <li class="nav__list-item">
                    <a class="nav__link nav__link--btn nav__link--btn--highlight" href="BackToLogin">Logout</a>
                </li>
            </ul>
        </nav>
    </header>
    <div id="top-of-page" style="position: absolute; left: 0px; top: -1000px;"></div>
    <div id="about-header">
        <h1 class = "masthead">Programmers</h2>
    </div>
    <img class="portrait_left" src="../images/ty_rozell.jpg"  width = "400" height="400" alt="picture of ty rozell, simulator and javascript manager" align= "left">  
    <div class="about-text_right">
        <h1 class = "portrait_header">Senior Full Stack Developer</h1>
        <p>
            Ty Rozell is a senior at University of North Texas (UNT), studying in Computer Science, and plans on graduating in the year 2021. Ty has always found a love for 
            coding and computers and throughout his studies at UNT, has remained a crutch for his classmates with his coding and problem solving knowledge.
            
        </p>
        <p> Ty Rozell is this project's Full Stack Developer with deep knowledge of Javascript, HTML, and CSS. Ty delivered on the 
            simulation page with multiple javascript files communicating with each other, and with the back-end server. 
            It took Ty very little time to start working hard and having the simulation. This project started on Monday June 22, 2020.
            Since the page's debut, Ty has always been striving for the map, drop down menu, and simulaton logic, to be in perfect condition. His skills
            were used in every area in the Project Outbreak website and set the foundation for the homepage and helped the team in everyway he could.
            <br>
        </p>

        <a id="linkedin" class="special-link-format" href="https://www.linkedin.com/in/ty-rozell-00475b1a1/"
            target="_blank">Connect
            with Ty</a>

    </div>
    
    <!--Breaks in order to use spacing to highlight programmers-->


    <img class="portrait_right" src="../images/clint_wyatt.jpg" width = "400" height="400" alt="picture of clint wyatt, back-end database manager" align = "right">
    <div class="about-text_left">
        <h1 class="portrait_header">Senior Back End Developer</h1>
        <p>
            Clint Wyatt is a graduate with a BA from SMU and a MA from University of Minnesota, having studied in Trombone Performance, and plans on obtaining
            a Computer Science degree from University of North Texas (UNT) in the year 2021. Clint has always been on the top of the knowledge chain and ahead of his peers, making his 
            school career fly by with top teir grades. 
    
        </p>
        <p>Clint Wyatt is this project's Senior Back End Developer with deep knowledge of Javascript, NodeJS, ExpressJS and MySQL.
              Clint packaged together all the back end databases and handled the inner workings of the login and registration.  
              With his knowledge, Clint handled the entirety of the back end development and has made the website have a means of 
              saving and identifying users through their information. Clint created a custom experience for each user after putting a 
              tremendous time and effort over the month and a half this project was constructed.
            <br>
        </p>
    
        <a id="linkedin" class="special-link-format" href="https://www.linkedin.com/in/clint-wyatt/"
            target="_blank">Connect with Clint</a>
    </div>

    <!--Breaks in order to use spacing to highlight programmers-->

    <img class="portrait_left" src="../images/ryan_schick.jpg" width="400" height="400"
        alt="picture of ryan schick, homepage and design manager" align="left">
    <div class="about-text_right">
        <h1 class="portrait_header">Senior Front End Developer</h1>
        <p>
           Ryan Schick is a senior at University of North Texas (UNT), studying in Computer Science, and plans on graduating
            in the year 2021. Ryan has always found a love for
            coding ever since taking Computer Science classes in 2014 at McKinney High School. He then found Computer Science to be the study he would 
            commit to in 2018 when he started is academic career at Collin College.
    
        </p>
        <p>
            Ryan Schick is this project's Senior Front End Developer with deep knowledge of Javascript, CSS, and HTML. Ryan carried the aesthetic design 
            throughout the website design, especially the home and about webpages. With a keen eye for design and properly putting together lettering, size, flow, 
            and color, he was able to have the website come together. Ryan was able to take feedback from a test group to fully turn around the design and also 
            use web scrapping to give live updates and news for the COVID-19 outbreak, the primary reason for the team to start this project.
        </p>
    
        <a id="linkedin" class="special-link-format" href="https://www.linkedin.com/in/ryanschick" target="_blank">Connect
            with Ryan</a>
    </div>

    <!--Breaks in order to use spacing to highlight programmers-->

    <div id="about-header">
        <h1 class="masthead">The Project</h1>
    </div>
    <img id="headline_collage" class="wide-image" src="../images/pandemic_collage.jpg" width="100%" height="400"
        alt="headline collage of coronavirus">
    <div class="about-text_center">
       
        <p> 
            Project Outbreak was founded by Ty Rozell, Clint Wyatt, and Ryan Schick and coined by Clint on Monday July 22, 2020. The web application came to life 
            on June 30, 2020 when the first homepage design was created. During the time of it's creation, Project Outbreak was specially cared for as it was crafted 
            during the COVID-19 outbreak pandemic of 2020, which was first reported in Wuhan City, China in December 2019, and wasn't a global concern until
            March 2020. COVID-19 sparked concern from the World Health Organization (WHO) and Center of Disease Control (CDC) which caused the global shutdown of travel 
            and many businesses. Countries around the world took different approaches to combatting the spread of Coronavirus, some were more successful than others.
            The United States had the worse response to the virus with economic failures, late testing, and no health requirements to help citizens and in turn, became the most
            infected country in the world. The issues concerning coronavirus became a more political matter, rather than a health issue, and seperated the nation on opinions.
        </p>

        <p>
            This caused concern within the founding group of Project Outbreak and decided to dedicate their junior year project 
            to bringing awareness to diseases and COVID-19 information. The team saw that the public is better together and informed, 
            but also saw the need to have an engaging and fun visual representation of the spread of diseases. So, the implementation of "The Simulator"
            was introduced on Wednesday July 1st, 2020. This oppurtunity shifted the focus of the website to be more appealing visually, but also
            enhance the overall user experience to allow custom diseases to be created with the 4 most used characteristics to describe any disease; Infection Rate, Death, Threshold, and Number of Weeks of Infection.
            This adaptation created a whole new set of challenges as the team had, and has, never offically met in-person. This project was completely
            implemented remotely through using discord, github and live file editing. This project is a testimate that nothing can stop people from coming
            together to create and carefully construct projects for a greater good.
        </p>

        <p>
            Thus, after 6 weeks and a lot of quality time of getting to make freinds, Project Outbreak was born.
        </p>
    </div>
    <a id="top-shortcut" class="special-link-format" href="#top-of-page">
        <div class="shortcut-text">Top</div>
        <i class="shortcut-icon gg-push-chevron-up"></i>
    </a>
    <!--javascript file for fading scroll effect-->
    <script src="../scripts/scrollEffect.js"></script>
    <script src="../scripts/welcomeMessage.js"></script>
    </body>
</html>