<!DOCTYPE html>
<html>
    <script src="../scripts/cookieManager.js"></script>

    <head>
        <title>Project Outbreak | Home</title>

        <!-- adding open-source css icons-->
        <link href='../css/homepagestyle.css' rel='stylesheet'>
        <link href='https://css.gg/push-chevron-up.css' rel='stylesheet'>
        <link href='https://css.gg/arrow-right-o.css' rel='stylesheet'>
        <link href="https://fonts.googleapis.com/css?family=Poppins:300,900&display=swap" rel="stylesheet" />
        <meta name="viewport" contents="width=device-width">
    </head>

    <body> 
        <div id="top-of-page" style="position: absolute; left: 0px; top: -1000px;"></div>
        
        <header>
            <a href="homepage" class="site-logo" aria-label="homepage">Project Outbreak</a>
            <nav class="main-nav">
                <ul class="nav__list">
                    <li class="nav__list-item">
                        <a href="Simulation" class="nav__link">Simulation</a>
                    </li>
                    <li class="nav__list-item">
                        <a href="About" class="nav__link">About</a>
                    </li>
                    <li class="nav__list-item">
                        <a href="https://www.givedirectly.org/covid-19/us/" target="_blank" class ="nav__link">COVID Relief Fund</a>
                    </li>
                </ul>
            </nav>
            
            <nav class="account">
                <ul class="nav__list">
                    <li>
                        <div id="welcome-message">Welcome, ?</div>
                    </li>
                    <li class="nav__list-item">
                        <a class="nav__link nav__link--btn nav__link--btn--highlight" href="Logout">Logout</a>
                    </li>
                </ul>
            </nav>
        </header>

        <!--main banner used for the home page-->
        <div id="banner-homepage">
            <div id="title">Project Outbreak</div>
            <div id="title-names">By: Clint Wyatt, Ryan Schick and Ty Rozell</div>
        </div>

        <div id="disease-header">
            <h2>Diseases Simulated</h2>
        </div>

            <!--Describing the diseases that will be simulated-->
        <div class="covid">
            <h3>Orthocoronavirinae <em><span>&#40;</span>COVID-19 or Coronavirus<span>&#41;</span></em></h3>
        </div>
        <img class="wide-image" src="../images/coronavirus.jpg" width="100%" height="400" alt="micro scale picture of corona virus">
        <div class="disease-text fade-in">
        
            <p>A 55-year-old individual from Hubei province in China may have been the first person to have contracted COVID-19, the
                disease caused by the new coronavirus spreading across the globe. That case dates back to Nov. 17, 2019, according to
                the South China Morning Post.</p>
            <p>On February 11, 2020 the <a href="https://www.who.int/emergencies/diseases/novel-coronavirus-2019" target="_blank">World Health Organiation[1]</a> announced
            an official name for the disease that is causing the 2019
            novel coronavirus outbreak, first identified in Wuhan China. The new name of this disease is coronavirus disease 2019,
            abbreviated as COVID-19. In COVID-19, ‘CO’ stands for ‘corona,’ ‘VI’ for ‘virus,’ and ‘D’ for disease. Formerly, this
            disease was referred to as “2019 novel coronavirus” or “2019-nCoV” COVID-19 is caused by a coronavirus called SARS-CoV-2. Older adults and people who have severe 
            underlying medical conditions like heart or lung disease or diabetes seem to be at higher risk for developing more serious complications
            from COVID-19 illness. Some symptoms of Orthocoronavirinae are fever or chills, cough, shortness of breath, fatigue, muscle or body aches, 
            new loss of taste or smell, nausea or vomiting, and diarrhea.</p>
        </div>
        <div class = "disease-text">
            <embed> <iframe src="https://ourworldindata.org/grapher/total-cases-covid-19?tab=map" width="100%"
                height="600px"></iframe></embed>
            <iframe src="https://public.domo.com/cards/azrGr" width="100%" height="600" marginheight="0" marginwidth="0"
                frameborder="0"></iframe>
            <iframe src="https://public.domo.com/cards/aAR5B" width="100%" height="600" marginheight="0" marginwidth="0"
                frameborder="0"></iframe>
                <a class="read-more special-link-format" href="https://www.cdc.gov/coronavirus/2019-ncov/cases-updates/cases-in-us.html"
                    target="_blank">Read more on COVID-19</a>
        </div>
        <div class ="bubonic-plague fade-in">
            <h3>Bubonic Plague <em><span>&#40;Black Plague&#41;</span></em></h3>
        </div>
        <img class="wide-image fade-in" src="../images/blackPlague.jpg" width="100%" height="500" alt="micro scale picture of black plague">
        
        <div class="disease-text">
            <p>The <a href="https://www.history.com/topics/middle-ages/black-death#:~:text=The%20Black%20Death%20was%20a,the%20Sicilian%20port%20of%20Messina." target="_blank">
                Black Plague[2]</a> was a devastating global epidemic of bubonic plague that struck Europe and Asia in the mid-1300s. The
            plague arrived in Europe in October 1347, when 12 ships from the Black Sea docked at the Sicilian port of Messina.
            People gathered on the docks were met with a horrifying surprise: Most sailors aboard the ships were dead, and those
            still alive were gravely ill and covered in black boils that oozed blood and pus.</p>
            <p>Today, it's best known as the Black Death or the bubonic plague. Medieval people called it "the blue sickness," La pest
            ("the Pestilence"), and "the Great Mortality." The name bubonic comes from the medieval Latin word bubo via Italian
            bilbo--meaning a pustule, growth, or swelling. Some symptoms of the disease were fever, trembling, weakness, and profuse sweating are initial symptoms of 
            the bubonic version. In the pneumatic version, coughing and parched throats are additional symptoms. In advanced cases, the most distinctive sign is the agonizing rise
            of dark "buboes": sensitive black-blue swellings under the armpit and near the groin--spots where dead blood and pus
            builds up in the lymph nodes. If the buboes are not lanced, the buildup of infected blood will cause the buboes in the
            armpit and groin area to expand in size (typically the swelling is about golf-ball sized, but sometimes as large as
            softballs). Untreated, the patient will die from the buildup of dead blood in these buboes. On the other hand, lancing
            the bilbo or popping it can still kill the victim from toxic shock, and the spray from the bubo is profoundly infectious
            to those who come into contact with it.</p>
            <a class="read-more special-link-format" href="https://www.historytoday.com/archive/black-death-greatest-catastrophe-ever"
                target="_blank">Read more on Black Plague</a>
        </div>
                <!--ebola virus information/ picture-->
        <div class ="bubonic-plague fade-in"> 
            <h3>Zaire ebolavirus <em><span>&#40;Ebola Virus&#41;</span></em></h3>
        </div>
            <img class="wide-image fade-in" src ="../images/ebola-virus.jpg" width="100%" height="500" alt ="micro sacle picture of ebola virus">
        <div class="disease-text fade-in">
            <p> Ebola virus was first discovered in 1976 near the Ebola River in what is now the Democratic Republic of Congo. Since
            then, the virus has been infecting people from time to time, leading to outbreaks in several African countries.
            Scientists do not know where Ebola virus comes from. However, based on the nature of similar viruses, they believe the
            virus is animal-borne, with bats or nonhuman primates with bats or nonhuman primates (chimpanzees, apes, monkeys, etc.)
            being the most likely source. Infected animals carrying the virus can transmit it to other animals, like apes, monkeys,
            duikers and humans.</p>
            <p>
            The virus spreads to people initially through direct contact with the blood, body fluids and tissues of animals. Ebola
            virus then spreads to other people through direct contact with body fluids of a person who is sick with or has died from
            EVD. Signs and symptoms typically start between two days and three weeks after contracting the virus with a fever, sore
            throat, muscular pain, and headaches. Vomiting, diarrhoea and rash usually follow, along with decreased function of
            the liver and kidneys. At this time, some people begin to bleed both internally and externally. The disease has a
            high risk of death, killing 25% to 90% of those infected, with an average of about 50%. This is often due to low
            blood pressure from fluid loss, and typically follows six to 16 days after symptoms appear.</p>
            <a class="read-more special-link-format" href="https://www.concernusa.org/story/west-african-ebola-epidemic/?gclid=CjwKCAjw0_T4BRBlEiwAwoEiAUwF_hBiIPVlvJSXMjm7Z4yWyclYvlgd5bhH-oT6VGjgN44q_C0g_RoC4ioQAvD_BwE"
                    target="_blank">Read more on Ebola Virus</a>
        </div>

        <div class ="bubonic-plague fade-in">
            <h3>Custom Disease</h3>
        </div>
        <img class="wide-image fade-in" src ="../images/customDisease.jpg" width="100%" height="600" alt="dna sequence picture for custom virus">
        
        <div class="disease-text fade-in">
            <p>Our simluation allows you to create your own disease with different attibutes to see how your disease would spread. You can create an 
                account to save diseases inorder to reuse your custom creations in the future! Give your disease a <b>name</b>, <b>infection</b>, <b>death rate</b>, and
                 <b>threshold</b>. Edit how many days your disease would spread across the United States. Check it out with the link below the screenshot!
            </p>
        </div>


        <!--picture of simluation with link to simulation page-->
        <h1 id="simulator-heading">The Simulator</h1>
        <img id="screenshot" src="../images/simulation-screenshot.png" alt ="Screenshot of simulator">
        <a id="simulator-page-link" class="special-link-format" href='Simulation'>
            <div id="simulator-page-link-text">Go to Simulator</div>
            <i id="simulator-page-link-icon" class="gg-arrow-right-o"></i>
        </a>
        <a id="top-shortcut" class="special-link-format" href="#top-of-page">
            <div class="shortcut-text">Top</div>
            <i class="shortcut-icon gg-push-chevron-up"></i>
        </a>

        <!--sources and cited work that we used for the information on diseases-->
        <footer id="footer-banner">
            <div id="sources">
                <cite>Sources: [1] https://www.who.int/emergencies/diseases/novel-coronavirus-2019</cite>
                <cite>[2] https://www.history.com/</cite>
                <cite>[3] https://ourworldindata.org/</cite>
                <br>
                <cite>[4] https://www.arcgis.com/</cite>
                <cite>[5] https://www.concernusa.org/</cite>
            </div>
        </footer>
        
        <!--javascript file for fading scroll effect-->
        <script src="../scripts/scrollEffect.js"></script>
        <script src="../scripts/welcomeMessage.js"></script>
    </body>
</html>