<!--
  Test Map
-->

<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="../css/testMapStyle.css">
  </head>

  <body>
    <h2>Map grid selector test:</h2>

    </br>

    <!--make table script-->
    <script src="../scripts/createTable(old).js"></script>

    <div id="textBoxes">
      <div id="cellText">
        <h3 id="selectedLabel">Selected grid id: </h3>
        <h3 id="populationLabel">Population: </h3>
        <h3 id="infectedLabel">Infected: </h3>
        <h3 id="deadLabel">Dead: </h3>
      </div>
      <div id="totalsText">
        <h3 id="totalPopLabel">Total population: </h3>
        <h3 id="totalInfLabel">Total infected: </h3>
        <h3 id="totalDeadLabel">Total dead: </h3>
      </div>

    </div>

  </body>

<!--start grid selector script-->
<script src="../scripts/startGridSelector(old).js"></script>

</html>