<!--Each table row is defined with the <tr> tag. A table header is defined with the <th> tag.
By default, table headings are bold and centered. A table data/cell is defined with the <td> tag.-->
<!DOCTYPE html>
<html>
    <head>
        <style>
        #graph {
          border-collapse: collapse;
          border: 1px solid black;
        }

        .row{
            height: 5px;
        }
        .col{
            width: 5px;
            border: 1px solid black;
            
        }
        tr{
          height: 2px;
        }
        td{
          width: 2px;
            border: 1px solid black;
            
        }

        </style>
    </head>

    <body>
        
        <h2>Possible graph using a table:</h2>
       
</br>


<script>
  /*var table = "<table class=graph><tr class=row><td class=col></td><td class=col></td></tr>"; //this works
  table += "<tr class=row><td class=col></td><td class = col></td></tr></table>";
  */
  import {State, Neighborhood} from '../scripts/outbreak.js';
  var table = "<table Id = graph>";//represents a html table

  neighbor = new Neighborhood[260][260];//creating a 2d array of neighborhoods
  
  //generating tha table graph  
  for(i = 0; i < 260; i++)
  {
      table += "<tr>"
      for(j = 0; j < 260; j++)
      {
         table +="<td></td>";
      }
    table += "</tr>"
  }
  table += "</table>";
  
  document.write(table); //writting the table to the document
  var x = document.getElementsByTagName("td");//getting all the columns in the table
  var infection = Math.floor(Math.random()*260);
  console.log(infection); 

  for(i=0; i < x.length; i++)
  {
    if(infection <10)
    {
      x[i].style.backgroundColor = "red";//infected
    }
    else if(infection > 10 && infection < 15)
    {
      x[i].style.backgroundColor = "blue";//vacinated
    }
    else if(infection > 15 && infection < 20)
    {
      x[i].style.backgroundColor = "green";//recovered
    }
    else
    {
      x[i].style.backgroundColor = "yellow";//suceptible
    }
    infection = Math.floor(Math.random()*260);
  }
</script>

<script>
  var table = document.getElementById("graph");
  var row = table.insertRow(0);
  row.height="5px";

</script>

    </body>
</html>