<!--Each table row is defined with the <tr> tag. A table header is defined with the <th> tag.
  By default, table headings are bold and centered. A table data/cell is defined with the <td> tag.-->
<!DOCTYPE html>
<html>
  <head>
    <title>The Simulator</title>

    <!-- Inherits some styles from the homepage -->
    <link href="../css/homepageStyle.css" rel="stylesheet">
    <link href="../css/htmlTableStyle.css" rel="stylesheet">
    <link href='https://css.gg/arrow-left-o.css' rel='stylesheet'>
    <link href='https://css.gg/menu.css' rel='stylesheet'>
    
    <script src="../scripts/outbreak.js"></script><!--including the neighborhood class and state class-->
    <script src="../scripts/graphCheck.js"></script><!--including the GraphCheck class for the outbreak-->
  </head>
  
  <body>
    <div id="grey-overlay"></div>
    
    <div id="banner">
      <div id="title">The Simulator</div>
    </div>
    
    <div id="slide-menu">
      <div id="menu-text">
        This menu is where you could create a disease by entering things into fields or choose a premade one from a dropdown list. This is also where buttons like 'reset',
        'save disease' (sql), 'start', etc. could go. Once the simulation has started, those text fields should become inactive until the reset button is pressed.
        The menu could automatically pause the simulation when opened and resume when minimized.
      </div>
      <div id="slide-menu-btn" onclick="toggleSlideMenu()">
        <i id="slide-menu-btn-icon" class="gg-menu"></i>
      </div>
    </div>
    
    <a id="return-shortcut" class="special-link-format" href="homepage.html#screenshot">
      <div class="shortcut-text">Return</div>
      <i class="shortcut-icon gg-arrow-left-o"></i>
    </a>



<script>
  threshold = 1;//represents the amount of adjacent neighbors that can cause a suceptible neighbor to become infected
  infectionPeriod =7;//represetns how long the neighborhood is infected
   

  /*end of simulation functions */
  var table = "<table Id = graph>";//represents a html table
  const size = 200;
  //creating the neighborhood object
  let neighborhood = [];
  var n = new Neighborhood();
  n.setInfectionPeriod(infectionPeriod);//setting the time period a neighborhood will be infected for
  for(i =0; i < size*size; i++)
  {
    neighborhood.push(n);
    n = new Neighborhood();//must do this to prevent all objects refering to 1 object
    n.setInfectionPeriod(infectionPeriod);
  }
  //const neighborhood = new Neighborhood()[67,600];//creating a 2d array of neighborhoods
  
  //generating tha table graph  
  for(i = 0; i < size; i++)
  {
      table += "<tr>"
      for(j = 0; j < size; j++)
      {
         table +="<td></td>";
      }
    table += "</tr>"
  }
  table += "</table>";
  
  document.write(table); //writting the table to the document
  var x = document.getElementsByTagName("td");//getting all the columns in the table
  var infection = Math.floor(Math.random()*size); 

  /*variables for the count of different states neighborhoods could be in */
  let numInfected =0;
  let numVacinated =0;
  let numRecovered =0;
  let numsusceptible =0;
 

  //randomly set states to the graph
  for(i=0; i < x.length; i++)//number of columns in the graph
  {
    if(infection < 2)
    {
      x[i].style.backgroundColor = "red";//infected
      neighborhood[i].setStatus("red");
      //console.log(neighborhood[i].getStatus());
      //numInfected++;
    }
    else if(infection > (size * .02) && infection <= (size * 2.6))
    {
      //console.log("vacinated at " +i);
      x[i].style.backgroundColor = "blue";//vacinated
      neighborhood[i].setStatus("blue");
      //console.log(neighborhood[i].getStatus());
    }
    else if(infection > (size *2.6) && infection <= (size *3.0))
    {
      x[i].style.backgroundColor = "green";//recovered
      neighborhood[i].setStatus("green");
      //console.log(neighborhood[i].getStatus());
    }
    else
    {
      x[i].style.backgroundColor = "yellow";//susceptible
      neighborhood[i].setStatus("yellow");
    }
    infection = Math.floor(Math.random()*(size * size));
  }
  //console.log(neighborhood[50].getStatus());
</script>
<script>
  
      //start outbreak
      var Check = new GraphCheck();//using the GaphCheck object to simulate the virus outbreak
      let z =0;
      let outbreak = true;
      console.log(outbreak);
      while(outbreak === true)
      {
        z++;
        console.log("here");
        if(z === 60){break;}
        numInfected =0; //resetting the number of infected neighborhoods
        //console.log("here");
        for(i=0; i < neighborhood.length; i++)//number of columns in the graph
        {
          if(i === 0)
          {
            Check.topLeftCorner(neighborhood, i);
          }
          else if(i === size*(size -1))
          {
            Check.bottomLeftCorner(neighborhood, i);
          }
          else if(i === size - 1)
          {
            //x[i].style.backgroundColor = "black";//infected
            Check.topRightCorner(neighborhood, i);
          }
          else if(i === (size * size) -1)
          {
            Check.bottomRightCorner(neighborhood, i);
          }
          else if(i % size ===0)
          {
            Check.leftSide(neighborhood, i);
          }
          else if(i % size === size-1)
          {
            Check.rightSide(neighborhood, i);
          }
          else if(i > (size * size) - size)
          {
            Check.bottomRow(neighborhood, i);
          }
          else if(i < size)
          {
            Check.topRow(neighborhood, i);
          }
          else
          {
            Check.innerGraph(neighborhood, i);
          }
        }
        //outbreak = true;//for debugging purposes
        for(i =0; i < neighborhood.length; i++)
        {
          if(neighborhood[i].getStatus() === "susceptible")
          {
            //console.log("threshold at " + i + ": " + neighborhood[i].getThreshold());
            if(neighborhood[i].getThreshold() >= threshold)
            {
              neighborhood[i].setStatus("red");//infected
              x[i].style.backgroundColor = "red";//infected
              
            }
          }
          else if(neighborhood[i].getStatus() === "infected")
          {
            //console.log("infection at " + i);
            if(neighborhood[i].getInfection() > infectionPeriod)
            {
              neighborhood[i].setStatus("green"); //changing the neighborhood to recoverred
              x[i].style.backgroundColor = "green";//infected
              numInfected--; //decrementing the number of infected neighborhoods. 
            }
            else
            {
              neighborhood[i].incrementInfection();//increment the number of days the neighborhood is infected
            }
          }
        }
        for(k =0; k < neighborhood.length; k++)
        {
          if(neighborhood[k].getStatus() === "infected"){numInfected++;}
        }
        if(numInfected === 0){outbreak = false;}
    }
    


  //another loop needed to chenge states (infected to recovered or susceptible to infected)
</script>

    <script>
      var table = document.getElementById("graph");
      var row = table.insertRow(0);
      row.height="5px";
      
    </script>

    <script src="../scripts/toggleSlideMenu.js"></script>

  </body>
</html>