<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"> 
		<link rel="stylesheet" type="text/css" href="style.css"> 
		<!--<meta name="viewport" content="width=device-width, initial-scale=1"> -->
		
		<title>Register</title>
		<style>
		
		.login-form {
    		width: 400px;
    		margin: 0 auto;
    		font-family: Tahoma, Geneva, sans-serif;
		}

		.login-form input[type="password"],
		.login-form input[type="text"] {
			width: 100%;
			padding: 15px;
			border: 1px solid #dddddd;
			margin-bottom: 15px;
			box-sizing:border-box;
		}
		.login-form input[type="submit"] {
			width: 100%;
			padding: 10px;
			background-color: limegreen;
			border: 0;	
			box-sizing: border-box;
			cursor: pointer;
			
			color: #ffffff;
		}
		</style>
	</head>
	<body>
		<nav class="navbar navbar-expand-sm bg-dark">

			<ul class="navbar-nav">
				  <li class="nav-item">
					<a class="nav-link" href='BackToLogin'>Login</a>
				  </li>
			</ul>
		
		</nav>
		<section class="jumbotron">
		<div class="login-form">
			
			<h1>Register</h1>
			<form action="register" method="POST">
				<input type="text" name="username" placeholder="Username" required>
				<input type="password" name="password" placeholder="Password" required>
				<input type="submit">
			
			</form>
		</div>
		</section>
	</body>
</html> 