<!DOCTYPE html>
<html>
  <head>
    <title>Project Outbreak | Simulator</title>

    <!-- Inherits some styles from the homepage -->
    <link href="../css/homepageStyle.css" rel="stylesheet">
    <link href="../css/simulatorStyle.css" rel="stylesheet">
    <link href='https://css.gg/menu.css' rel='stylesheet'>
    <link href='https://css.gg/import.css' rel='stylesheet'>
    <link href='https://css.gg/erase.css' rel='stylesheet'>
    <link href='https://css.gg/play-button-o.css' rel='stylesheet'>
    <link href='https://css.gg/undo.css' rel='stylesheet'>
    <link href='https://css.gg/play-pause-o.css' rel='stylesheet'>
    <link href='https://css.gg/arrow-down-r.css' rel='stylesheet'>
    <link href='https://css.gg/arrow-up-r.css' rel='stylesheet'>
    <link href='https://css.gg/export.css' rel='stylesheet'>
    
    <script src="../scripts/popupBoxes.js"></script>
    <script src="../scripts/createDisease.js"></script>
    <script src="../scripts/loadDisease.js"></script>
    <script src="../scripts/sleep.js"></script>
    <script src="../scripts/simulationControls.js"></script>
    <script src="../scripts/outbreak/denseCells.js"></script>
    <script src="../scripts/outbreak/oceanCells.js"></script>
    <script src="../scripts/outbreak/outbreak.js"></script><!--including the neighborhood class and state class-->
    <script src="../scripts/outbreak/graphCheck.js"></script><!--including the GraphCheck class for the outbreak-->
    <script src="../scripts/outbreak/diseaseOutbreak.js"></script>
  </head>
  
  <body>
    <div id="grey-overlay"></div>
    
    <nav class="main-nav">
      <ul class="nav__list">
          <li class="nav__list-item"><a href="homepage" class="nav__link">Home</a></li>
          <li class="nav__list-item"><a href="#" class="nav__link">About us</a></li>
      </ul>
    </nav>

    <div id="banner-simulation">
      <div id="title">The Simulator</div>
    </div>
    
    <div id="slide-menu">
      <div id="menu-heading">Options</div>

      <div id="create-disease-container">
        <div id="create-disease-heading">Create Disease</div>
        <label for="diseaseName">Disease Name: </label>
        <input id="disease-name-field" type="text" name="diseaseName" value="Name" onfocus="showPopup(name)" onfocusout="resetAllPopups()">
        <br>
        <label for="infRate">Infection Rate: </label>
        <input id="infection-rate-field" type="text" name="infRate" value="50" onfocus="showPopup(name)" onfocusout="resetAllPopups()">
        <br>
        <label for="deathRate">Death Rate: </label>
        <input id="death-rate-field" type="text" name="deathRate" value="10" onfocus="showPopup(name)" onfocusout="resetAllPopups()">
        <br>
        <label for="threshold">Threshold: </label>
        <input id="threshold-field" type="text" name="threshold" value="1" onfocus="showPopup(name)" onfocusout="resetAllPopups()">
        <br>
        <label for="numWeeks">No. of Weeks: </label>
        <input id="num-weeks-field" type="text" name="numWeeks" value="52" onfocus="showPopup(name)" onfocusout="resetAllPopups()">

        <div id="popups">
          <div id="diseaseName-popup" class="popup-style">
            <b>Name: </b>Enter a name for the disease.
            <div id=popup-arrow></div>
          </div>
          <div id="infRate-popup" class="popup-style">
            <b>Infection Rate: </b>The rate at which the disease spreads. Enter a number between 1 and 100.
            <div id=popup-arrow></div>
          </div>
          <div id="deathRate-popup" class="popup-style">
            <b>Death Rate: </b>The rate at which infected people die from the disease. Enter a number between 1 and 100.
            <div id=popup-arrow></div>
          </div>
          <div id="threshold-popup" class="popup-style">
            <b>Threshold: </b>How many adjacent infected neighborhoods are required to infect a neighborhood? Enter a number from 1 to 8.
            <div id=popup-arrow></div>
          </div>
          <div id="numWeeks-popup" class="popup-style">
            <b>No. of Weeks: </b>Enter the number of weeks the disease will last.
            <div id=popup-arrow></div>
          </div>
        </div>

        <div id="create-disease-btns">
          <div id="save-btn" class="input-btn" onclick="validateFields()">
            <i id="save-btn-icon" class="gg-import"></i>
            <div id="save-btn-text" class="btn-text-style">Save</div>
          </div>
          <div id="clear-btn" class="input-btn" onclick="clearAllFields()">
            <i id="clear-btn-icon" class="gg-erase"></i>
            <div id="clear-btn-text" class="btn-text-style">Clear</div>
          </div>
        </div>
      </div>

      <div id="load-disease-container">
        <div id="load-btn" class="input-btn" onclick="loadDisease()">
          <i id="load-btn-icon" class="gg-export"></i>
          <div id="load-btn-text" class="btn-text-style">Load</div>
        </div>

        <div id="load-disease-heading">Load Disease</div>
        <div id="dropdown-box-container">
          <label for="selectedDisease">Selected: </label>
          <input id="dropdown-field" type="text" name="selectedDisease" value="" readonly>
          <i id="dropdown-icon" class="gg-arrow-down-r" onclick="toggleDropdownBox()"></i>

          <div id="dropdown-box-placeholder"></div>
          <script src="../scripts/createDropdownBox.js"></script>
        </div>
      </div>

      <div id="slide-menu-toggler" onclick="toggleSlideMenu()">
        <i id="slide-menu-toggler-icon" class="gg-menu"></i>
      </div>
    </div>

    <div id="simulation-btns">
      <div id="start-btn" class="simulation-btns-style" onclick="startSimulation()">
        <i id="start-btn-icon" class="gg-play-button-o"></i>
        <div id="start-btn-text">Start</div>
      </div>
      <div id="pause-btn" class="simulation-btns-style" onclick="pauseSimulation()">
        <i id="pause-btn-icon" class="gg-play-pause-o"></i>
        <div id="pause-btn-text">Pause</div>
      </div>
      <div id="reset-btn" class="simulation-btns-style" onclick="resetSimulation()">
        <i id="reset-btn-icon" class="gg-undo"></i>
        <div id="reset-btn-text">Reset</div>
      </div>
    </div>

    <div id="graph-placeholder"></div>
    <div id="legend">
      <h3>Legend</h3>
      </div>
      <div class="legend-text">
        
      </div>
    <script src="../scripts/outbreak/createTable.js"></script>
    <script src="../scripts/toggleSlideMenu.js"></script>
  </body>
</html>